.blog-container{
    display:grid;
    grid-gap: 10px;
    height:99vh;
    margin: auto;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "hd"
    "ct"
    "ft";
}

#content-column{
    display: grid;
    grid-template-rows: 200px 1fr 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "intro"
    "main"
    "fav"
    "social";
    width: 50vw;
    text-align: center;
    align-items: top;
    background-color: #fcf9f9;
}

#intro{
    grid-area: intro;
}

#first-encounter{
    grid-area: main;
}

#favorites{
    grid-area: fav;
    list-style-position: inside;
}

#blog-content-tbell{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/taco bell blog.jpg");
    grid-area: ct;
}

#blog-content-canes{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/canes blog.png");
    grid-area: ct;
}

#blog-content-panda{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/panda blog.jpg");
    grid-area: ct;
}

#blog-content-in-n-out{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/in-n-out blog.jpg");
    grid-area: ct;
}

#social{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: social;
    border-radius: 8px;
}

#twitter-logo{
    max-width: 4vw;
    height: auto;
    border-radius: 8px;
}

#blog-header{
    display: flex;
    align-items: center;
    text-align: left;
    grid-area: hd;
    padding: 5px;
}

#blog-header h1{
    font-family: cursive;
    font-size: 1.75vw;
    width: 200px;
    margin: 0 auto;
}

#blog-footer{
    display: flex;
    justify-content: center;
    grid-area: ft;
}

.navigate{
    font-size: 20px;
}