p{
    padding-right: 5px;
    padding-left: 5px;
 }

 #main-content{
    justify-content: center;
    grid-area: ct;
    background-color: rgb(10, 10, 10);
}

#nested-blip-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.blog-blip{
    align-items: center;
    background-color: rgb(196, 175, 175);
    text-align: center;
    font-size:1vw;
    border-radius: 12px;
    border: 2px solid black;
}

.restaurant-image{
    width:25vw;
    border-radius: 8px;
}

#blog-content-tbell{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/taco bell blog.jpg");
    grid-area: ct;
}

#blog-content-canes{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/canes blog.png");
    grid-area: ct;
}

#blog-content-panda{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/panda blog.jpg");
    grid-area: ct;
}

#blog-content-in-n-out{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("../pics/in-n-out blog.jpg");
    grid-area: ct;
}