@import url("blog-post.css");
@import url("media-queries.css");
@import url("content.css");


body{
    background-color: rgb(12, 12, 12);
}

.section{
    border-radius: 12px;
    background-color: #afa6af;
}

#main-header{
    display: flex;
    justify-content: center;
    grid-area: hd;
    font-family: cursive;
    font-size: 1.55vw;
    text-shadow: 2px 2px 8px #f8f6f6;
    align-items: center;
}

#menu{
    grid-area: mn;
}

#menu-options{
    text-align: center;
    align-items: center;
    font-size: 2vw;
}

#main-footer{
    display: flex;
    justify-content: center;
    grid-area: ft;
    align-items: center;
    font-weight: bold;
    font-size:20px;
}