@import url("blog.css");
@import url("blog-post.css");
@import url("media-queries.css");


body{
    background-color: rgb(12, 12, 12);
}

.section{
    border-radius: 12px;
    background-color: #5f33a7;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: yellow;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }