<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raisin' Cane's</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
    <div class='blog-container'>
        
        <div class='section' id='blog-header'>
            <div id='home-button'><a href='index.html'>Return Home</a></div>
            <h1 id='header-text'>Raisin' Cane's</h1>
        </div>
        <div class='section' id='blog-content-canes'>
            <div id='content-column'>
                <div id='intro'>
                    <h2>Chicken Sooooooo Good...</h2>
                        <p>
                            I was introduced to Canes by my girlfriend. Boy was I missing out. If you have not
                            had the chance to check out this chicken joint, get to it! This has landed in my top 5
                            favorite fast food spots to eat. 
                        </p>
                </div>
                <div id='first-encounter'>
                    <h3>Our First Encounter Together</h3>
                        <p> Canes is not located close to home so the oportunity does not present itself as often.
                            We recently traveled to Las Vegas for a vacation and had my first taste. I would compare 
                            Canes to Chik Fil' A but BETTER. The secret is all in the sauce. No but really, get the
                            sauce. Another visit for anyone that has not had it. (Outside of Wyoming).
                        </p>
                </div>
                <div id='favorites'>
                    <h3>Our Favorite Choices</h3>
                        <p>Here is our combined list of favorite foods from Canes</p>
                        <ol>
                            <li>Chicken Fingers</li>
                            <li>Chicken Sandwich</li>
                        </ol>
                </div>
                <div id='social'>
                    <a href ='https://twitter.com/Raising_Canes?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'>
                    <img id='twitter-logo' src="../pics/Logo-Twitter.jpg" alt="tweet tweet"></a>
                </div>
            </div>
        </div>
        <div class='section' id='blog-footer'>
            <button type="button" class='navigate'><a href='taco bell.html'>Previous Post</a></button>
            <button type="button" class='navigate'><a href='panda.html'>Next Post</a></button>
        </div>
    </div>
</body>
</html>