<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IN N OUT</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
    <div class='blog-container'>
        
        <div class='section' id='blog-header'>
            <div id='home-button'><a href='index.html'>Return Home</a></div>
            <h1 id='header-text'>IN N OUT</h1>
        </div>
        <div class='section' id='blog-content-in-n-out'>
            <div id='content-column'>
                <div id='intro'>
                    <h2>Behold...Burger Heaven</h2>
                        <p>
                            Residing in number 2 spot of my top 5, is IN N OUT. For locals
                            it might not be the same but from the folks further east that dont have
                            the pleasure, it is a must have.
                        </p>
                </div>
                <div id='first-encounter'>
                    <h3>Our First Encounter Together</h3>
                        <p> Just like Cane's I was able to share my first experience with my beautiful
                            girlfriend. Im glad she likes fast food as much as me. The closes one to home 
                            is in Colorado about 5 hours away.
                        </p>
                </div>
                <div id='favorites'>
                    <h3>Our Favorite Choices</h3>
                        <p>Here is our combined list of favorite foods from Taco Bell</p>
                        <ol>
                            <li>Double Double</li>
                            <li>Cheeseburger</li>
                            <li>Milkshake</li>
                        </ol>
                </div>
                <div id='social'>
                    <a href ='https://twitter.com/innoutburger?lang=en'>
                    <img id='twitter-logo' src="../pics/Logo-Twitter.jpg" alt="tweet tweet"></a>
                </div>
            </div>
        </div>
        <div class='section' id='blog-footer'>
            <button type="button" class='navigate'><a href='panda.html'>Previous Post</a></button>
            <button type="button" class='navigate'><a href='taco bell.html'>Next Post</a></button>
        </div>
    </div>
</body>
</html>