<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
    <div class='homepage-container'>

        <div class='section' id='main-header'>
            <h1>Talk About Tasty</h1>
        </div>

        <div class='section' id='menu'>
            <div id='menu-options'>
                <div><a href ='index.html'>Home</a></div><br>
                <div><a href ='index.html'>Login</a></div><br>
                <div><a href ='index.html'>Subscribe</a></div>
            </div>
        </div>

        <div class='section' id='main-content'>
            <!-- Nested grid in the content section -->
            <div id='nested-blip-grid'>
                <!-- Individual blog 'blips' -->
                <div id='blog-1' class='blog-blip'>
                    <h3>Taco Bell</h3>
                    <a href ='taco bell.html'><img src="../pics/taco bell.jpg" alt="taco pic" class='restaurant-image'></a>
                    <p>Voted the #1 food chain of all time by G&M reviews, learn what the hype about Taco Bell is.</p>
                </div>
                <div id='blog-2' class='blog-blip'>
                    <h3>Raisin Cane's</h3>
                    <a href ='canes.html'><img src="../pics/canes.jpeg" alt="chicken pic" class='restaurant-image'></a>
                    <p>If you haven't had Raisin Cane's, then you suck.</p>
                </div>
                <div id='blog-2' class='blog-blip'>
                    <h3>Panda Express</h3>
                    <a href ='panda.html'><img src="../pics/panda.jpg" alt="panda pic" class='restaurant-image'></a>
                    <p>No it's not real Panda, but it still taste pretty good if it was.</p>
                </div>
                <div id='blog-2' class='blog-blip'>
                    <h3>In N' Out</h3>
                    <a href ='in-n-out.html'><img src="../pics/In n out.jpg" alt="burger pic" class='restaurant-image'></a>
                    <p>Best burger place in the West. Sorry everyone east of Colorado.</p>
                </div>
            </div>

        </div>
        <div class='section' id='main-footer'>
            <p>Please subscribes to keep up to date on the awesomeness</p>
        </div>

    </div>
</body>
</html>