<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Express</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
    <div class='blog-container'>
        
        <div class='section' id='blog-header'>
            <div id='home-button'><a href='index.html'>Return Home</a></div>
            <h1 id='header-text'>Panda Express</h1>
        </div>
        <div class='section' id='blog-content-panda'>
            <div id='content-column'>
                <div id='intro'>
                    <h2>Welcome Chinese Food Wizards..</h2>
                        <p>
                            Panda Express is just plain and simple the bees knees.
                        </p>
                </div>
                <div id='first-encounter'>
                    <h3>Our First Encounter Together</h3>
                        <p> Sad to say, but we have yet to dig in this together. But soon.
                        </p>
                </div>
                <div id='favorites'>
                    <h3>Our Favorite Choices</h3>
                        <p>Coming Soon</p>
                        
                </div>
                <div id='social'>
                    <a href ='https://twitter.com/PandaExpress?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'>
                    <img id='twitter-logo' src="../pics/Logo-Twitter.jpg" alt="tweet tweet"></a>
                </div>
            </div>
        </div>
        <div class='section' id='blog-footer'>
            <button type="button" class='navigate'><a href='canes.html'>Previous Post</a></button>
            <button type="button" class='navigate'><a href='in-n-out.html'>Next Post</a></button>
        </div>
    </div>
</body>
</html>