<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Bell</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
    <div class='blog-container'>
        
        <div class='section' id='blog-header'>
            <div id='home-button'><a href='index.html'>Return Home</a></div>
            <h1 id='header-text'>Taco Bell</h1>
        </div>
        <div class='section' id='blog-content-tbell'>
            <div id='content-column'>
                <div id='intro'>
                    <h2>The Border in all its greatness...</h2>
                        <p>
                            Taco bell has and will always have a special place in our hearts. My girlfriend
                            and I consider ourselves quite the condisours. It remains at the top of the list 
                            for fast food restaurants for us. Nothing can every sound more apetizing than a 
                            cheesy gordita crunch or mexican pizza from the good ol' Taco Bell.
                        </p>
                </div>
                <div id='first-encounter'>
                    <h3>Our First Encounter Together</h3>
                        <p> Now this is a true but cute story. So during my girlfriend and I's first i'd say
                            official date, we shared with each other things we enjoy, etc etc. You know, typical
                            get to know eachother stuff. And what do you know, she swears by Taco Bell just like 
                            I do! Now that in my opinion was a HUGE green flag. I mean I could already hear the 
                            church bells ringing and everything. Anyways, after the date we parted ways and I went
                            in my house. Man was I hungry. So what do I do in situations like this? TACO BELL. That
                            right, in my car and off I went. I'm in the drive through at Taco Bell minding my own
                            buisness when I notice the car in front of me looks awfully familiar. Well would ya look
                            at that. My soon to be girlfriend had the same idea as me. I got her attention and it was 
                            pretty much true love at first site after that. I knew she was the one. We have been
                            religiously enjoying our slice of heaven together ever since.
                        </p>
                </div>
                <div id='favorites'>
                    <h3>Our Favorite Choices</h3>
                        <p>Here is our combined list of favorite foods from Taco Bell</p>
                        <ol>
                            <li>Mexican Pizza</li>
                            <li>Cheesy Gordita Crunch</li>
                            <li>Cheesy Been and Rice Burrito</li>
                            <li>Dorito Loco Taco</li>
                            <li>Beef Burrito</li>
                            <li>Bean and Rice Burrito</li>
                        </ol>
                </div>
                <div id='social'>
                    <a href ='https://twitter.com/tacobell?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'>
                    <img id='twitter-logo' src="../pics/Logo-Twitter.jpg" alt="tweet tweet"></a>
                </div>
            </div>
        </div>
        <div class='section' id='blog-footer'>
            <button type="button" class='navigate'><a href='in-n-out.html'>Previous Post</a></button>
            <button type="button" class='navigate'><a href='canes.html'>Next Post</a></button>
        </div>
    </div>
</body>
</html>