<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Bell</title>
    <link rel="stylesheet" type="text/css" href="../style/blog-post.css">
</head>
<body>
    <div class='container'>
        
        <div class='section' id='header'>
            <div id='home-button'><a href='index.html'>Return Home</a></div>
            <h1>Taco Bell</h1>
        </div>
        <div class='section' id='content'>
            <h2>The Border in all its greatness...</h2>
            <p>
                Taco bell has and will always have a special place in our hearts. My girlfriend
                and I consider ourselves quite the condisours.
            </p>
        </div>
        <div class='section' id='footer'>
            <button type="button" class='navigate'>Previous Post</button>
            <button type="button" class='navigate'>Next Post</button>
        </div>










    </div>
</body>
</html>